
body {
	background-image:url ("swing.png");
	bottom left;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color:  #EDE7CC;
	
}

header {
	position: fixed;
	font-size: 50px;
	color: #705A61;
	font-weight: bold;
	text-align: center;
	font-family: 'Special Elite', cursive;
	line-height: 50px;
	height: 50px;
	width: 100%;
	margin-top: 0;
	text-shadow: 0px 2px 3px #E3D3D9;
	letter-spacing: 3px;
}

header a {
	text-decoration: none;
	color: #705A61;
}


#about img {
	position: fixed;
	margin-bottom: 0;
	margin-left: 0;
}

.content {

	display: block;
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	padding-top:90px;

}

.navigation {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 36px;
	text-decoration: none;
	background: #705A61;
	position: fixed;
	margin-top: 45px;

}

.navigation ul {
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	display: inline;
	text-align: center;
}

.navigation ul a {
	color: #EDE7CC;
	font-size: 20px;
	text-decoration: none;
	font-family: 'La Belle Aurore', cursive;
	text-align: center;
}

.navigation ul li {
	margin-left: 0;
	padding: 3px 15px;
/*	border-left: 1px solid #705A61;*/
	list-style: none;
	display: inline;
}


.navigation ul li.first {
	margin-left: 0;
	border-left: none;
	list-style: none;
	display: inline;
}

.navigation a:hover {
	color: #AD8E99;
	transition: all .8s ease;
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease; 
	-o-transition: all .8s ease; 
	-ms-transition: all .8s ease;
}


.title {
	font-family: 'Special Elite', cursive;
	font-size: 20px;
	font-weight: bold;
	color: #705A61;
}

.bodytext {
	font-family: 'Muli', sans-serif;
	font-size: 13px;
	line-height: 15px;
	height: 70%;
	float: left;
	width: 60%;
	overflow: auto;
	color: #705A61;
}

.bodytext a {
	color: #705A61;
}

.bodytext a:hover {
	color: #000000;
}

.images img {
	height: 33%;
	display: block;
	margin-bottom: 10px;
}

.images {
	float: left;
	height: 70%;
	width: 40%;
	margin-right: 0px;
}

.social {
	height: 70%;
	width: 100%;
	overflow: auto;
}

.social a {
	text-decoration: none;
	color: #705A61;
	font-size: 25px;
	line-height: 25px;
	margin: 0;
	font-family: 'Special Elite', cursive;
}

.social img {
	height: 25px;
	margin-top: 30px;
	margin-bottom: -5px;
	margin-right: 15px;
}


.social a:hover + .sociallinks {
	display: inline-block;
}


.sociallinks {
	text-decoration: none;
	color: #705A61;
	font-size: 25px;
	display: none;
	line-height: 25px;
	margin: 0;
	font-family: 'Special Elite', cursive;
}